@model IEnumerable<DataAccess.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["ProductMessage"] != null)
{
    <p class="text-success">@TempData["ProductMessage"]</p>
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPriceDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDateDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNameDisplay)
            </th>
            <th style="width:10%;">
                @Html.DisplayNameFor(model => model.ImageTagSrcDisplay)
            </th>
            <th style="width:10%;"></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
                    @if (!string.IsNullOrWhiteSpace(item.Description))
                    {
                        <a href="" title="@item.Description" class="adescription">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                </td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitPriceDisplay)
				</td>
                <td>
					@Html.DisplayFor(modelItem => item.StockAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExpirationDateDisplay)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryNameDisplay)
				</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.ImageTagSrcDisplay))
                    {
                        <img src="@item.ImageTagSrcDisplay" class="img-thumbnail "/>
                    }
                </td>
				<td style="text-align: right;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Add" asp-controller="Home" asp-area="Cart" asp-route-productId="@item.Id">Add to Cart</a>
                        <br />
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        if (User.IsInRole("Admin"))
                        {
                            <br />
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <br />
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </td>
			</tr>
		}
    </tbody>
</table>
